<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%= pageTitle %> | <%= meta.siteTitle %></title>

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png" />
		<link rel="alternate" type="application/atom+xml" href="feed" />

		<style>
			/*

				╔═════════╗
				║ C S S   ║
				║ I S     ║
				║ A W E S O M E
				╚═════════╝

			*/

			:root {
				--color-bg: #fff;
				--color-link: #36c;
				--color-text: #111;
				--color-text-muted: #999;
				--font-family: 'Crimson Text', Georgia, serif;
				--font-family-sans: 'Proxima Nova', -apple-system, system-ui, sans-serif;
			}

			@media (prefers-color-scheme: dark) {
				:root {
					--color-bg: #111;
					--color-link: #9cf;
					--color-text: #fff;
				}
			}

			@font-face {
				font-display: swap;
				font-family: 'Crimson Text';
				font-style: normal;
				font-weight: 400;
				src: url(/assets/CrimsonText-Regular.woff2) format('woff2');
			}

			@font-face {
				font-display: swap;
				font-family: 'Crimson Text';
				font-style: italic;
				font-weight: 400;
				src: url(/assets/CrimsonText-Italic.woff2) format('woff2');
			}

			@font-face {
				font-display: swap;
				font-family: 'Proxima Nova';
				font-style: normal;
				font-weight: 400;
				src: url(/assets/ProximaNova-Regular.woff2) format('woff2');
			}

			@font-face {
				font-display: swap;
				font-family: 'Proxima Nova';
				font-style: normal;
				font-weight: 700;
				src: url(/assets/ProximaNova-Bold.woff2) format('woff2');
			}

			html {
				background-color: var( --color-bg );
				color: var( --color-text );
				line-height: 1.4;
				margin: 0;
			}

			body {
				font-family: var(--font-family);
				font-size: 1.25em;
				margin: 2em auto;
				max-width: 40rem;
				padding: 1em;
			}

			a {
				color: var( --color-link );
				text-underline-offset: 0.1em;
			}

			header a {
				text-decoration: none;
			}

			header a,
			article footer a {
				color: inherit;
			}

			main {
				margin: 3em 0;
			}

			footer,
			nav {
				font-family: var(--font-family-sans);
			}

			h1,
			h2,
			h3,
			h4 {
				font-family: var(--font-family-sans);
				line-height: 1.25;
				margin: 1.5em 0 0.75em 0;
			}

			nav p {
				margin: 0.5em 0;
			}

			figure {
				margin: 1.5em 0;
			}

			blockquote {
				border-left: solid 5px var( --color-text-muted );
				padding-left: 1em;
			}

			figcaption {
				font-style: italic;
				margin: 0.5em 0;
			}

			img {
				border-radius: 0.3em;
				display: block;
				height: auto;
				margin: 0 auto;
				max-width: 100%;
			}

			article footer {
				color: var( --color-text-muted );
				font-size: 1.1rem;
			}

			li {
				margin: 0.25em 0;
			}
		</style>

		<% if ( post && post.hasCodeSnippets ) { %>
		<link rel="preload" href="/assets/prism.css" as="style" onload="this.rel='stylesheet'">
		<% } %>
	</head>

	<body>

		<header>
			<a href="/">
				<%- include( '/logo' ); %>
			</a>
		</header>

		<main>
