// Inline links

$flickr-color: #f08;
$instagram-color: #743;
$twitter-color: #063;
$mail-color: #49f;

.inline-link {
  color: $page-text-color;
  margin: 0 2px;
  opacity: 0.9;
  text-decoration: none;
  white-space: nowrap;

  &::before {
    opacity: 0.8;
    padding-right: 6px;
    text-decoration: none;
  }

  &:hover {
    color: $black;
    opacity: 1;
    text-decoration: underline;

    &::before {
      opacity: 1;
      text-decoration: none;
    }

    &.icon-flickr-1 {
      color: $flickr-color;
    }

    &.icon-instagram {
      color: $instagram-color;
    }

    &.icon-mail {
      color: $twitter-color;
    }

    &.icon-twitter-1 {
      color: $mail-color;
    }
  }
}
