// Introduction

.introduction {

  background-color: $lightest-grey;
  color: $darkest-grey;
  display: none;
  left: 50%;
  padding: 2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

  @include breakpoint(lg) {
    background-color: $white;
    min-width: 280px;
    padding: 20px;
    width: 80%;
  }

  p {
    margin: 0;
  }

  .inline-link {
    margin: 5px 0;
    padding: 0 8px;
  }

}

.page-home .introduction {
  display: block;
}
