// Masthead

.masthead {
  background-color: inherit;
  left: 0;
  padding: 1em 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  h1 {
    font-size: 1.4em;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;

    @include breakpoint(md) {
      display: inline;
      float: left;
    }

    &::before {
      background-image: url($image-avatar-240x240);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 48px 48px;
      content: '';
      display: inline-block;
      height: 48px;
      margin-right: 10px;
      vertical-align: middle;
      width: 48px;
    }
  }
}

.social-links {
  margin: 0;
  padding: 17px 0 0 0;
  text-align: center;

  @include breakpoint(md) {
    text-align: right;
  }

  li {
    display: block;
    line-height: 0.9em;
    margin: 0 6px;
    padding: 5px 0;

    @include breakpoint(md) {
      display: inline-block;
    }
  }
}
