// Notices

.notice {

  margin: 1.5em 0 2em 0;
  padding: 0.5em 1em;

  @include breakpoint(md) {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

}

.statement {
  background-color: $statement-background-color;
  border-top: solid 5px $statement-accent-color;
}

.warning {
  background-color: $warning-background-color;
  border-top: solid 5px $warning-accent-color;
}

.plain {
  background-color: $statement-plain-background-color;
  border-top: solid 5px $statement-plain-accent-color;
}
