// Header

$icon-inactive-color: #bbb;
$icon-flickr-color: #f08;
$icon-github-color: #333;
$icon-instagram-color: #654;
$icon-twitter-color: #5ae;
$icon-mail-color: #36c;
$icon-tap-highlight-color: rgba(0, 0, 0, 0);

.menu {
  position: relative;
}

.banner {

  background-image: url($image-avatar-240x240);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  font-size: 2.5em;
  height: 60px;
  line-height: 60px;
  margin: 0.2em 0;
  overflow: hidden;
  padding-left: 75px;

  @include breakpoint(md) {
    background-position: 50% 0;
    font-size: 2em;
    padding: 60px 0 0 0;
    text-align: center;
  }

}


// Elsewhere

.elsewhere {

  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: $icon-tap-highlight-color;
  text-align: right;
  top: 20px;
  transform: translate3d(0, 0, 0);

  @include breakpoint(md) {
    position: static;
    text-align: center;
  }

}

.service {
  display: inline-block;
  margin: 0;
  position: relative;
}

.link {

  color: $icon-inactive-color;
  display: inline-block;
  font-size: 1.5em;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  transition-property: color, -webkit-transform, transform;
  width: 50px;

  @include breakpoint(md) {
    width: 40px;
  }

  &::before {
    padding-right: 0;
  }

  span {
    display: none;
  }

}

.username {
  color: $icon-inactive-color;
  font-size: 0.9em;
  left: 50%;
  line-height: 0.9em;
  margin: 35px 0 0 -65px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 0.15s ease-in-out;
  width: 130px;
}

.no-touch {

  .link {
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  .service:hover {

    .username {
      opacity: 1;
    }

    .username:hover {
      opacity: 0;
    }

  }

  .icon-mail:hover {
    color: $icon-mail-color;
  }

  .icon-github-1:hover {
    color: $icon-github-color;
  }

  .icon-flickr-1:hover {
    color: $icon-flickr-color;
  }

  .icon-twitter-1:hover {
    color: $icon-twitter-color;
  }

  .icon-instagram:hover {
    color: $icon-instagram-color;
  }

}

.inline-link::before {
  padding-left: 0.2em;
  padding-right: 0.3em;
  text-decoration: none;
}
