// Colors

$page-background-color: #fff;
$page-text-color: #000;

$page-link-color: #02c;
$page-link-hover-color: #02c;

$skills-primary-background-color: #bed;
$skills-secondary-background-color: #9cb;

$callout-background-color: #bde;

$statement-background-color: #fe3;
$statement-accent-color: #cb0;
$statement-plain-background-color: #eee;
$statement-plain-accent-color: #ccc;

$warning-background-color: #fbb;
$warning-accent-color: #f33;

$mail-link-underline-color: #36f;
$mail-link-underline-hover-color: #9cf;
