// Colors

$black: #000;
$white: #fff;
$grey: #999;
$dark-grey: #666;
$darkest-grey: #333;
$light-grey: #ccc;
$lightest-grey: #eee;

$page-background-color: rgba(255, 255, 238, 0.5);
$page-text-color: #332;

$page-link-color: #02c;
$page-link-hover-color: #02c;
