// Fonts

$font-weight-normal: 400;
$font-weight-bold: 500;

$body-fallback-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$body-font: 'Fira Sans', $body-fallback-font;

$header-fallback-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$header-font: 'Fira Sans', $header-fallback-font;

$monospace-fallback-font: monospace;
$monospace-font: $monospace-fallback-font;
