// Print styles

@media print {

  @page {
    margin: 0.5in;
    size: 8.5in 11in;
  }

  @page:first {
    margin-top: 0.25in;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100%;
  }

  tr,
  img,
  .section {
    page-break-inside: avoid;
  }

}
