// Block elements

p {

  margin: 0 0 1.2em 0;
  padding: 0;

  @include breakpoint(print) {
    orphans: 3;
    page-break-after: avoid;
    widows: 3;
  }

}

ul {
  line-height: 1.3em;
  margin: 0 0 1em 0;
  padding: 0 1.25em;
}

li {
  margin-bottom: 0.2em;
}
