// Headers

h1,
h2,
h3,
h4,
.section-head,
.sub-section-head {
  @include breakpoint(print) {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0.25em 0.5em 0 0;
}

h3 {
  margin: 0 1em 0.25em 0;
}
