// Résumé

.resume {
  height: auto;
  margin: 0 auto;
  max-width: 770px;
  padding: 2em 15px;
  width: auto;
}

.resume-header,
.section-head,
.sub-section-head {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  h3 {
    margin: 0 0 0.25em 0;
    padding-right: 0.75em;
  }

  h4 {
    margin: 0;
  }
}

.resume-header {
  align-items: center;
}

.section-head {
  margin: 1.5em 0 0.5em 0;
}

.single-head {
  margin-bottom: 0.75em;
}

.sub-section-head {

  margin: 0.5em 0;

  h3 {
    font-family: $body-font;
    font-weight: 700;
  }

}

.note-links {

  margin: 1em 0;

  p {
    margin: 0.1em 0;
    padding: 0;
  }

}

.home-link {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}