// Home

.home {
  display: none;
}

// Fake blog entries that look randomly generated but aren't.
.fake-blog {
  padding: 3em;
  width: 60%;
  
  @include breakpoint(xl) {
    padding: 3em 2em 2em 2em;
    width: 55%;
  }

  @include breakpoint(md) {
    padding: 2em 1em 1em 1em;
    width: auto;
  }
}

$head-word-count: 20;
$para-word-count: 60;
$meta-word-count: 10;
$post-count: 10;

#fake-blog-entry-template {
  display: none;
}

.fake-blog-entry {

  margin-bottom: 6em;

  h3 {
    margin: 0 0 1.5em 0;

    span {
      background-color: $dark-grey;
      height: 1.6em;
      margin-bottom: 0.25em;
    }
  }

  h3,
  p,
  .fake-blog-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  span {
    background-color: $light-grey;
    background-image: url($dot-pattern);
    display: inline-block;
    height: 1.2em;
    margin-bottom: 0.5em;

    @for $i from 0 to $para-word-count {
      &:nth-child(#{$i}) {
        order: random($para-word-count);
        width: #{(random(50) * 2 + 20)}px;
      }
    }
  }
  
  &:last-child {
    margin-bottom: 3em;
  }
}

@for $i from 0 to $post-count {
  .fake-blog-entry {
    p:nth-child(#{$i}) {
      order: random($post-count);

      :nth-child(n + #{random($para-word-count - 20) + 20}) {
        display: none;
      }
    }
  }

  .fake-blog-entry-#{$i} {
    p:nth-child(n + #{random($post-count) + 1}) {
      display: none;
    }

    h3 :nth-child(n + #{random($head-word-count - 5) + 5}) {
      display: none;
    }

    .fake-blog-meta :nth-child(n + #{random($meta-word-count - 6) + 6}) {
      display: none;
    }
  }
}

.fake-blog-body {
  display: flex;
  flex-direction: column;
}

.fake-blog-meta {
  span {
    background-color: $lightest-grey;
    height: 1.1em;
    margin-right: 0.5em;
  }
}

.fake-blog-coda p {
  background-color: $grey;
  background-image: url($dot-pattern);
  margin: 0;
  padding: 1em;
  
  &:hover {
    background-color: $lightest-grey;
  }
}

.sidebar {

  background-color: $white;
  color: $darkest-grey;
  left: 70%;
  margin-left: 1em;
  min-width: 270px;
  position: fixed;
  top: 7.25em;

  @include breakpoint(xl) {
    left: 65%;
  }

  @include breakpoint(md) {
    position: static;
    margin: 2em 1em 0 1em;
    
    li {
      display: inline-block;
    }
  }

  ul {
    font-size: 1.2em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 0 0.5em 0;
  }

}

.page-home .home {
  display: block;
}
