// Photos

.photos {

  display: none;
  margin: 0 auto;
  max-width: 1024px;
  padding: 2em;

  @include breakpoint(lg) {
    padding: 1em;
  }

  @include breakpoint(md) {
    padding: 1em 0;
  }

}

.page-photos .photos {
  display: block;
}

.photo {

  margin: 0;
  padding: 0 0 3em 0;

  @include breakpoint(md) {
    padding-bottom: 1em;
  }

  p {
    margin: 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

}
