Options +FollowSymLinks

Redirect 301 /bookmarkleter https://chriszarate.github.io/bookmarkleter/
Redirect 301 /projects/bookmarkleter https://chriszarate.github.io/bookmarkleter/

Redirect 301 /cinch https://github.com/chriszarate/cinch
Redirect 301 /dyndns https://github.com/chriszarate/dyndns
Redirect 301 /flickr-set https://github.com/chriszarate/flickr-wormhole
Redirect 301 /reader-lite https://github.com/chriszarate/reader-lite
Redirect 301 /sort https://gist.github.com/chriszarate/2896301

ErrorDocument 404 /index.php
