/* Media queries */

@media only screen and (max-width: 700px) {

  body {
    font-size: 1em;
    padding: 1em;
  }

  /* Break long URLs */

  a {
    word-wrap: break-word;
  }

  /* Condensed header */

  .banner {
    padding: 60px 0 0 0;
    font-size: 2em;
    text-align: center;
    background-position: 50% 0;
  }

  .elsewhere {
    position: static;
    text-align: center;
  }

  .link {
    width: 40px;
  }

  /* Condensed bullets */

  .bullets {
    margin: 1em 0.75em 1em 1.25em;
  }

  /* Condensed photos */

  .photos-head {
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }

  .photo {
    padding-bottom: 1em;
  }

  /* Reduce padding in smaller containers */

  .notice {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  .collapsed li {
    line-height: 1.5em;
    margin: 0 6px 6px 0;
    padding: 0 5px;
  }

}
