// Flex-box

.flex-box {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-split {
  justify-content: space-between;
}

.flex-left {
  justify-content: flex-start;
}
