/* Flex-box */

.flex-box {
  align-items: baseline;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-split {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-left {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
