// Sections

.section-head {
  margin-top: 1.5em;
}

.single-head {
  margin-bottom: 0.75em;
}

.sub-section-head {

  margin-top: 0.5em;

  h3 {
    font-family: $body-font;
    font-weight: 700;
  }

}
